package components

templ ThemeSwitcher() {
    <div class="form-control">
        <label class="label">
            <span class="label-text">Theme</span>
        </label>
        <select class="select select-bordered select-sm" data-bind="$theme">
            <option value="night">Night</option>
            <option value="dracula">Dracula</option>
            <option value="synthwave">Synthwave</option>
            <option value="treacherest">Treacherest</option>
        </select>
    </div>
}